.client {
    min-height: 100%;

    @include mobile {
        margin-bottom: 60px;
    }

    @include mintablet {
        margin-bottom: 60px;
    }

    @include tablet {
        margin-bottom: 60px;
    }

    @include desktop {
        margin-bottom: 94px;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        
    }

    &__item {
        width: 100%;
        @media screen and (min-width:480px) {
            width: calc((100% - 30px)/2);
        }
        
        @media screen and (min-width:768px){
            width: calc((100% - 60px)/3);
        }

        @media screen and (min-width:1200px){
            width: calc((100% - 150px)/6);
        }    

    }
    
    &__icon{
        width: 100%;
        height: 92px; 
        height: 41px;
        width: 47px;
        padding: 16px 32px;
        @include tranSition ();
    }

    &__link{
        display: flex;
        width: 100%;
        height: 92px;
        justify-content: center;
        align-items: center;
        border: 1px solid #AFB1B8;
        fill: #AFB1B8;
        border-radius: 4px;    
        @include tranSition ();
        
        & svg{
        
            width: 100%;
            height: 100%;
        }
    
        
        &:hover,
        :focus{
            border-color: var(--accent-color);
        }
    
        &:hover .client__icon,
        &:focus .client__icon
        {
            fill:var(--accent-color);
        }
    
    }

    &__header{
        @media screen and (max-width:480px){
            @include fontStyle (28px, null, null, null);
        }
    
        padding-top: 60px;
        text-align: center;
        color: var(--header-color);
    
        @media screen and (min-width:480px){
            @include fontStyle (28px, null, null, null);
        }
    
        @media screen and (min-width:1200px){
            @include fontStyle (36px, null, null, null);
            padding-top: 94px;
        }

}

}