.header {
    color: var(--main-white-color);
    border-bottom: 1px solid #ECECEC;
    @include mintablet {
        padding: 0px 15px;
    }
}

.header .container{
    position: relative;
    display: flex; 
    align-items: center;
}

.nav {
    @include mintablet {
    display: none;
}
}

.nav-list {
    display: flex;
}

.nav__item {
    padding-top:30px;
    padding-bottom: 30px;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__item-current{
    margin-right: 50px;
}

.nav__link {
    @include fontStyle (14px, 500, 0.02em, 1.14);
    color: var(--accent-logo-color);
    padding-top: 10px;
    padding-bottom: 10px;
    @include tranSition ();

    &:hover, 
    &:focus {
        color:var(--accent-color);
    }   
}

.nav__item-current{
    display: flex;
    position: relative;
    align-items: center;
    & a {
    color: var(--accent-color);
}
}

.nav__item-current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: -2px;
    left: 0;
}

.connect {
    margin-left:84px;
    @include mintablet {
    display: none;  
    
}

    @include desktop {
        margin-left: auto;
    }

}

.connect {
    & a {
        @include tablet;
        @include fontStyle (12px, 500, 0.02em, 1.7);
        text-align: start;
        @include desktop {
            @include fontStyle (14px, 500, 0.02em, 1.14);
        }
    
    color: var(--main-font-color);
    padding-top: 15px;
    padding-bottom: 15px;
    @include tranSition ();

    &:hover, 
    &:focus{
        color: var(--accent-color);
    }
}

    &__mail {
        margin-right: 30px;
    }
}

.head-phone {
    margin-right: 10px;
    align-items: center;
    fill:currentColor;
}

.head-envelope {
    margin-right: 10px;
    fill:currentColor;   
}