.spec__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.spec__list--indent {
    margin-bottom: 30px;
}

.specific {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop{
    padding-top:94px;
    padding-bottom: 94px;
    }
}

.head-spec-list {
    @include fontStyle (14px, 700, 0.03em, 1.14);
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
        text-align: left;
    }
}

.main-font {
    @include fontStyle (14px, null, 0.03em, 1.7)
}

.spec__list--rectangle {
    display: flex;
    min-height: 120px;
    background-color: var(--second-section-color);
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
}

.spec__item {
@media screen and (min-width:768px) {
    width: calc((100% - 30px)/2);
}

@media screen and (min-width:1200px){
    width: calc((100% - 90px)/4)
}
}