.work{
    padding-bottom: 94px;
    
    &__head {
        @include fontStyle (36px, 700, 0.03em, 1.17);
        text-align: center;
        color: var(--header-color);
    }

    &__item {
        position: relative;
    }

    &__list {
        display: flex;
        .list:not(:last-child) {
            margin-right: 30px;
        }
    }

    @include mindesktop {
        display: none;
    }

    
}

.header__indent {

    @include mintablet {
        margin-bottom: 30px;
    }

    @include tablet {
        margin-bottom: 30px;
    }

    @include desktop {
        margin-bottom: 50px;
    }
    
}


.work-bottom-text{
    display: inline-block;
    @include fontStyle (14px, 700, 0.03em, 1.14);
    color: var(--main-white-color);
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    padding: 27px 0;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}


.worker-soc-icon-team{
    fill: #AFB1B8;
}

.social-links:hover .worker-soc-icon-team
{
    fill:#FFFFFF;
}

.social-links:focus .worker-soc-icon-team {
    fill:#FFFFFF;
}