.footer__logo {
    font-family: 'Raleway', sans-serif;
    @include fontStyle (26px, 700, 0.03em, 1.19);
    color: var(--accent-color);
    margin: 16px 15px;
    
        color: var(--accent-color);
        @include tranSition ();
        @include mindesktop {
            @include fontStyle (24px, 700, 0.03em, 1.17);
        }

        @include desktop {
            @include fontStyle (26px, 700, 0.03em, 1.19);
        }

        &:hover,
        &:focus {
            color: var(--accent-color);
        }


        @include mintablet {
            text-align: center;
            margin-bottom: 20px;
        }

        @include tablet {
            text-align: center;
            margin-bottom: 20px;
        }
    
        @include mindesktop {
            text-align: center;
            margin-bottom: 20px;
        }

    }
        
    .footer__logo--part {
        font-family: 'Raleway', sans-serif;
        @include fontStyle (26px, 700, 0.03em, 1.19);
        color: var(--main-white-color);
        &:hover {
        color:var(--accent-color) ;
    }

    @include mindesktop {
        @include fontStyle (24px, null, null, 1.17);
    }

    @include desktop {
        @include fontStyle (null, null, null, 1.19);
    }

    }
    
    .footer__logo{
    margin-bottom: 20px;
    @include desktop {
        margin-left: 0;
    }
}


