.logo {

    font-family: 'Raleway', sans-serif;
    @include fontStyle (26px, 700, 0.03em, 1.19);
    color: var(--accent-color);
    margin: 16px 15px;
    
    @include tablet {
        margin: 0;
        padding: 0;
        display: flex;
        }
        @include mindesktop {
            @include fontStyle (24px, 700, 0.03em, 1.17);
        }
    
        @include desktop {
            @include fontStyle (26px, 700, 0.03em, 1.19);
        }

    &__part {
        color: var(--accent-logo-color);
        &:hover, 
        &:focus {
        color: var(--accent-color);
    }

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    @include tablet {
        @include fontStyle (24px, 700, 0.03em, 1.16);
        margin-right: 88px;
        }

        @include desktop {
            @include fontStyle (26px, 700, 0.03em, 1.19);
            margin-right: 93px;
        }
    
}
}

