
.menu-open-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color:transparent;
    border: none;
    padding: 10px 15px;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        @include tranSition();
    }

    @include tablet {
        display: none;
    }

}

.menu-close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color:transparent;
    border: none;
    padding: 10px 15px;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        @include tranSition();
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-white-color);
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 1;
    @include tablet {
        display: none;
    }
    
}

.mob-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mob__item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu-list {
    margin-bottom: 20px;
}

.mob__link {
    @include fontStyle (40px, 500, 0.02em, 1.17);
    color: var(--header-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
        @include tranSition();
    }
}

.mob-connect {
    display: flex;
    flex-direction: column;
}

.mob__phone {
    display: block;
    @include minimize {
        @include fontStyle (24px, 500, 0.02em, 1.18);
    }
    @include fontStyle (34px, 500, 0.02em, 1.18);
    color: var(--accent-color);
    padding-bottom: 32px;
    @include tranSition();
}

.mob__mail {
    @include fontStyle (24px, 500, 0.02em, 1.17);
    color: var(--main-font-color);
    padding-bottom: 64px;

    &:hover,
    &:focus {color:var(--accent-color);
        @include tranSition();}
}

.mob-menu-social {
    display: flex;
    @include minimize {
        @include fontStyle (16px, 500, 0.02em, 1.18);
        flex-wrap: wrap;
        justify-content: center;
    }
}

.social-mob__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    @include tranSition();
}

.social-mob__item { 

    &:not(:last-child){
        padding-right: 10px;
    }
    

    &:not(:first-child){
        padding-left: 10px;
    }
@media screen and (max-width: 380px) {
    &:nth-child(2) {
        border-right: none;
        }
        
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 3px;
    margin-bottom: 20px;

}
    }

.social-mob__link {
    @include fontStyle (18px, 500, 0.02em, 1.2);
    color: var(--accent-color);
    @include tranSition();
}