@mixin fontStyle($fs, $fw, $ls, $lh) {
    font-size: $fs;
    font-weight: $fw; 
    letter-spacing: $ls;
    line-height: $lh;
}

@mixin tranSition ($td:250ms, $ttf:cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-duration: $td;
    transition-timing-function:$ttf;
}