$font-main:'Roboto', monotype;

:root {
    --accent-color: #2196F3;
    --accent-logo-color:#000000;
    --hero-color:#2F303A;
    --main-white-color:#FFFFFF;
    --second-section-color:#F5F4FA;
    --main-font-color:#757575;
    --header-color:#212121;
    --modal-window-background:rgba(0, 0, 0, 0.1);
}